
/** MAIN PROP. */

@font-face {
	font-family: roboto-light; 
	src: url(../styles/fonts/Roboto-Light.ttf); 
}	

* {
	margin: 0px;
	padding: 0px;
}
	
body {
	color: white;
	font-family: roboto-light;
	font-size: 15px; 
	background-color: rgba(124, 150, 73, 1.0);	
}

a{
	color: rgba(42, 45, 95, 0.8);
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
}

/** START BLOCK */

#startScreen {
	background-image:  url(../styles/back.png);
	background-color: rgba(156, 211, 103, 1.0);	
	background-repeat: no-repeat;	
	background-position: top center;	
	height: 100%;	
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
}

#startBlockWr {
	padding: 15px;
}

#startBlock{
	background-color: rgba(42, 45, 95, 0.8);
	max-width: 340px;
	min-height: 300px;
	margin: 0 auto;
	padding: 20px;
	margin-top: 50px;	
	text-align: center;
	border: 20px solid rgba(232, 79, 75, 1);	
	overflow: hidden;
	color: white;
}

#logo{
	font-size: 60px;
}

#name{
	font-weight: 800;
	font-size: 30px;
	margin-top: -20px;
}

#slogan{
	font-size: 12px;
}

#startmess {
	margin: 0 auto;	
	margin-top: 20px; 
	max-width: 250px;
	text-align: justify;
}

#mess{
	margin: 0 auto;
	max-width: 250px;
	margin-bottom: 15px;
	margin-top: 30px;
	text-align: justify;
}

#startmess ul{
	margin: 0 auto;
	max-width: 250px;
	text-align: left;
	margin-bottom:  30px;	
}

#startmess ul li{
	margin-left: 30px;
}

#loadBar{
	margin-top: 10px;
	padding: 5px 15px;
	width: 225px;
	margin-bottom: 60px;
	min-height: 30px; 
	background-color: rgba(232, 79, 75, 1);
	border-radius: 3px;
	color: white;
}

#startbutton {
	display: none;
	padding: 5px 15px;	
	font-weight: 800;
	font-size: 30px;
	width: 225px;
	margin-top: 10px;
	margin-bottom: 60px;	
	background-color: rgba(232, 79, 75, 1);
	border-radius: 3px;	
	cursor: pointer;
	user-select: none;	
	-ms-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;	
	color: rgba(42, 45, 95, 0.8);
	text-align: center;
}

#startbutton:hover{	
	background-color: rgba(204, 75, 232, 0.7);	
}

#copyRight {
	margin: 0 auto;
	margin-top: 0px;
	color: rgba(42, 45, 95, 0.8);
	width: 150px;
	text-align: center;
}

/** GAME CONTENT */
 
#gameScreen {
	z-index: 5;
	display: none;
	overflow: hidden;
}

#restartButt{
	display: none;
	position: absolute;
	left: 50%;
	bottom: 50%;	
	margin-left: -100px;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	width: 200px;
	text-align: center;
	background-color: rgba(44, 47, 37, 0.4);
	padding: 20px;	
	cursor: pointer;
}

#restartButt:hover{
	background-color: rgba(204, 75, 232, 0.7);
}

#infoKills{
	position: absolute;
	left: 30px;
	bottom: 30px;	
	user-select: none;
	-moz-user-select: none; 
	-webkit-user-select: none; 	
	width: 100px;
	text-align: center;
	color: rgba(204, 75, 232, 0.7);
	font-size: 30px;	
}

#infoDies{
	position: absolute;
	left: 80px;
	bottom: 30px;	
	user-select: none;
	-moz-user-select: none; 
	-webkit-user-select: none; 	
	width: 100px;
	text-align: center;
	color: black;
	font-size: 30px;		
} 	

#infoBullets{
	position: absolute;
	right: 80px;
	bottom: 30px;	
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none; 	
	width: 100px;
	text-align: center;
	color: white;
	font-size: 30px;		
}

